NODE_ENV=development
MONGO_URI=mongodb://mongo:27017/lifetracker
REDIS_URL=redis://redis:6379
KAFKA_BROKERS=kafka:9092
JWT_SECRET=replace-me-with-a-long-random-secret
JWT_EXPIRES_IN=7d
WEB_ORIGIN=http://localhost:3000
API_GATEWAY_PORT=4000
AUTH_SERVICE_PORT=4001
HABIT_SERVICE_PORT=4002
REALTIME_SERVICE_PORT=4003
VITE_API_URL=http://localhost:4000/api
VITE_REALTIME_URL=http://localhost:4003
